# Python
*.pyc
__pycache__/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/
smartcontract/.env

# System
.DS_Store


# Editors
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints
