# Python
*.pyc
__pycache__/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/
smartcontract/.env

# System
.DS_Store


# Node / Hardhat (smartcontract)
smartcontract/node_modules/

# OS / Office lockfiles
Thumbs.db
ehthumbs.db
Desktop.ini
~$*

# Editors
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints
