# Python
*.pyc
__pycache__/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/

# System
.DS_Store
USCIS Online Account _ Backup code.pdf

# Editors
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints
